<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-infinite-scroll id="infinite-scroll">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
      <ion-grid>
        <ion-row *ngFor="let item of noticias; let i = index">
          <ion-col>
            <ion-card style="text-align: justify;">
              <ion-card-header>
                <ion-card-subtitle>{{i+1}}<span>.</span>{{item.source.name}}
                  <div style="font-size: 15px !important; position: absolute; right: -25px; top: -20px;">
                    <ion-button (click)="lanzarMenu()" fill="clear">
                      <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-card-subtitle>
                <ion-card-title (click)="openBrowser()">{{item.title}}</ion-card-title>
              </ion-card-header>
              <img src="{{item.urlToImage}}" (click) ="openBrowser()"/>
              <ion-card-content>
                {{item.content}}
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
